{% if current_user.is_authenticated %}
{% set not_approved_comments = h.get_not_approved_comments_count() %}
<div class="widget widget-actions">
<div class="section">{{ _('Actions') }}</div>
  <div class="action-item"><a href="{{ url_for('blog.write_article') }}"><span class="fa fa-paragraph"></span> {{ _('Write a new article') }}</a></div>
  <div class="action-item"><a href="{{ url_for('blog.comments_moderation') }}"><span class="fa fa-comments"></span> {{ _('Comments moderation ({})').format(not_approved_comments) }}</a></div>
  <div class="action-item"><a href="{{ url_for('admin.files_list') }}"><span class="fa fa-file"></span> {{ _('Files management') }}</a></div>
  <div class="action-item"><a href="{{ url_for('admin.emails_list') }}"><span class="fa fa-inbox"></span> {{ _('E-mail addresses') }}</a></div>
  <div class="action-item"><a href="{{ url_for('admin.backups_list') }}"><span class="fa fa-archive"></span> {{ _('Backups') }}</a></div>
  <div class="action-item"><a href="{{ url_for('admin.settings') }}"><span class="fa fa-cog"></span> {{ _('Settings') }}</a></div>
  <div class="action-item"><a href="#" onclick="pyrengine.logout(); return false;"><span class="fa fa-user color-red"></span> {{ _('Sign out') }}</a></div>
</div>
{% endif %}