{% extends 'base.jinja2' %}
{% import 'macros/forms.jinja2' as forms %}

{% block title %}{{ _('Change account password') }}{% endblock %}

{% block content %}

<h2>{{ _('Change account password') }}</h2>

<form action="{{ url_for('blog.change_password') }}" id="form" method="POST">
  <dl class="form">
    <dt>{{ _('Account login name') }}</dt>
    <dd>{{ login_name }}</dd>

    {{ forms.passwordfield('current_password', _('Current password'), '', errors['current_password']) }}
    {{ forms.passwordfield('new_password_1', _('New password'), '', errors['new_password_1']) }}
    {{ forms.passwordfield('new_password_2', _('Repeat new password'), '', errors['new_password_2']) }}
    <dd>
    {{ forms.button(_('save'), 'fa fa-save', "$('#form').submit(); return false;") }}
    </dd>
  </dl>
</form>

{% endblock %}