{% extends 'base.html' %}

{% set editor_permission = h.user_has_permission(current_user, 'editor') %}
{% set admin_permission = h.user_has_permission(current_user, 'admin') %}

{% block title %}{{ _('Recent articles') }}{% endblock %}

{% block content %}
{% for article in articles %}
<div class="article-preview">
  <div class="title">
    {% if editor_permission %}
      <div class="article-actions">
        <a href="{{ url_for('blog.edit_article', article_id=article.id) }}" class="border-icon" title="{{ _('edit') }}"><span class="fa fa-pencil"></span></a>
        <a href="#" onclick="pyrengine.deleteArticle('{{ url_for('blog.delete_article_ajax', article_id=article.id) }}', '{{ article.id }}'); return false;" class="border-icon" title="{{ _('delete') }}"><span class="fa fa-trash-o"></span></a>
      </div>
    {% endif %}
    <a href="{{ h.article_url(article) }}">{{ article.title }}</a>{% if article.is_draft %} <span class="warning">{{_('draft') }}</span>{% endif %}</a>
  </div>
  <div class="date">{{ '{author} | {date}'.format(author=article.user.display_name, date=h.timestamp_to_str(article.published, _('DATE_TIME_SHORT'))) }}</div>
  <div class="before-preview"></div>
  <div class="preview">{{ article.get_html_preview() | safe }}</div>
  {% if article.is_splitted %}<div class="splitter"><a href="{{ h.article_url(article) }}">{{ _('continue reading') }}</a></div>{% endif %}
  <div class="tags">{{ _('Tags:') }} {% for tag in article.tags %}<a href="{{ url_for('blog.articles_by_tag', tag=tag.tag) }}">#{{ tag.tag }}</a> {% endfor %}</div>
  <div class="footer">
    {% if article.comments_approved > 0 %}
      <a href="{{ h.article_url(article) }}#comments">{{ _('Comments:') }} {{ article.comments_approved }}</a>
    {% else %}
      {{ _('Comments:') }} 0
    {% endif %}
  </div>
</div>
<div class="article-preview-after"></div>
{% endfor %}

{% if articles|length == 0 %}
  {{ _('No articles here.') }}
{% endif %}

<div class="pager">
{% if next_page is none %} {{ _('<-newer') }} {% else %} <a href="{{ next_page }}">_('<-newer')</a> {% endif %}
{% if prev_page is none %} {{ _('older->') }} {% else %} <a href="{{ prev_page }}">_('older->')</a> {% endif %}
</div>

{% endblock %}