{% extends 'admin/base.jinja2' %}
{% import 'macros/forms.jinja2' as forms %}

{% block title %}{{ _('Edit file properties') }}{% endblock %}

{% block content %}
<h2><a href="{{ url_for('admin.files_list') }}">{{ _('Files management') }}</a> &lt; {{ _('Edit file properties') }}</h2>

<form action="{{ url_for('admin.edit_file_props', file_id=file.id) }}" id="upload-form"\
  method="post" onsubmit="return pyrengine.checkFileUploadForm('${url('admin_edit_file_props_check_ajax', file_id=file.id)}','upload-form');"\
  enctype="multipart/form-data">
  <dl class="form">
    {{ forms.textfield('filename', file.name, _('Name of the file (required, case-sensitive, if file with that name exists it will be replaced)'), _('File will be accessed using specified name'), errors['filename']) }}

    {{ forms.selector('dltype', file.dltype, _('File access type'), _('What should happen when user open URL to the file in web browser'), [ ('download', _('display file download dialog (suitable for documents, archives)')), ('auto', _('leave processing to web browser (suitable for pictures)'))]) }}

    {{ forms.textfield('content_type', file.content_type, _('File content type'), '', errors['filename']) }}

    <dd style="padding-top: 8px;">
      <button class="button" onclick="$('#upload-form').submit(); return false;"><span class="fa fa-save"></span> {{ _('submit') }}</button>
    </dd>
  </dl>
  
</form>
{% endblock %}