{% macro checkbox(name, value, title, label, label_help) -%}
  {% if title is not none %}<dt>{{ title }}</dt>{% endif %}
  <dd><label><input type="checkbox" name="{{ name }}" id="fid-{{ name }}"{% if value %} checked="checked"{% endif %}> {% if label_help != '' %}<acronym title="{{ label_help }}">{{ label }}</acronym>{% else %}{{ label }}{% endif %}</label></dd>
{%- endmacro %}

{% macro textfield(name, value, title, title_help, error) -%}
  <dt>{% if title_help %}<acronym title="{{ title_help }}">{{ title }}</acronym>{% else %}{{ title }}{% endif %}</dt>
  <div id="error-{{ name }}" class="error" style="{% if not error %}display: none;{% endif %}">{{ error }}</div>
  <dd><input type="text" name="{{ name }}" id="fid-{{ name }}" value="{{ value }}"></dd>
{%- endmacro %}

{% macro textarea(name, value, title, title_help, error, style) -%}
  {% if title is not none %}<dt>{{ title }}</dt>{% endif %}
  <div id="error-{{ name }}" class="error" style="{% if not error %}display: none;{% endif %}">{{ error }}</div>
  <dd><textarea type="text" name="{{ name }}" id="fid-{{ name }}"{% if style %}style="{{ style  }}"{% endif %}>{{ value }}</textarea></dd>
{%- endmacro %}

{% macro button(text, icon, onclick) -%}
  <button class="button" onclick="{{ onclick }}">{% if icon %}<span class="{{ icon }}"></span> {% endif %}{{ text }}</button>
{%- endmacro %}

{% macro selector(name, value, title, title_help, items) -%}
  <dt>{% if title_help %}<acronym title="{{ title_help }}">{{ title }}</acronym>{% else %}{{ title }}{% endif %}</dt>
  <dd><select name="{{ name }}">
  {% for opt_id,opt_label in items %}
    <option value="{{ opt_id }}">{{ opt_label }}</option>
  {% endfor %}
  </select></dd>
{%- endmacro %}