<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script language="javascript" src="/static/js/jquery.min.js"></script>
  <script language="javascript" src="/static/js/jquery/field-selection.js"></script>
  <script language="javascript" src="{{ url_for('main.js_translations') }}"></script>
  <script language="javascript" src="/static/js/pyrengine.js"></script>
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" type="text/css" href="/static/styles/blog.regolit.com/blog.css">
  <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">
  <!--rel rss-->
  <title>{% block title %}{% endblock %} — {{ h.get_config('site_title') }}</title>
  <!--google analytics-->
</head>

<body>
  <div id="topbar"><div class="title"><a href="{{ url_for('main.index') }}">SITE TITLE</a></div></div>

  <div id="contentbar">
    <div id="content">
{% block content %}{% endblock %}
    </div>
    <div id="bottombar"><div class="title">{{ h.get_config('site_copyright') }} | <a href="https://github.com/sigsergv/pyrengine">{{ _('Powered by pyrengine') }}</a></div>
    </div>
  </div>

  <div id="sidebar">
    <!-- <include file="/widgets/pages.mako"/> -->
    <!-- <include file="/widgets/search.mako"/> -->
    <!-- <include file="/widgets/account.mako"/> -->
    {% include 'widgets/actions.html' %}
    <!-- <include file="/widgets/tags_cloud.mako"/> -->
  </div>


</body>
</html>